.nav-container {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #251d3a;
    box-shadow: 0 0 10px 5px #d4ddb1;
}
.izquierda {
    display: flex;
    justify-content: start;
    align-items: center;
}
.categorias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    color: white;
}
.derecha {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
