.container-footer {
    background-color: #251d3a;
    height: 15rem;
    padding: 0;
}
.suscripcion {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separador {
    height: 75%;
    margin: auto;
    width: 1px;
    background-color: aliceblue;
    box-shadow: 0 0 5px 1px white;
}
.redes {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #403855;
    gap: 10px;
}
.desarrollado {
    height: 15%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
