* {
    padding: 0;
    text-decoration: 0;
}

.miniNav {
    background-color: #251d3a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.miniBody {
    background-color: #f2e9e6;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 89.2vh;
    width: 100%;
}
.items {
    height: 20rem;
    width: 50%;
    background-color: none;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.back {
    color: black;
}
